@import '../styles/common.scss';

.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  height: 40px;
  padding-top: 24px;

  .searchLabel {
    color: var(--semantic-fg-primary, #161719);

    @extend .headline-xl;
  }

  .searchInputContainer {
    display: flex;
    padding: 10px 12px;
    align-items: center;
    width: 400px;
    max-width: 476px;
    gap: 8px;
    flex: 1 0 0;
    background-color: var(--semantic-bg-light-background-bg-alpha);
    border-radius: 20px;

    .searchIcon {
      width: 16px;
      height: 16px;
    }

    .searchInput {
      width: 100%;
      border: none;
      background: transparent;
      font-size: 14px;
      caret-color: var(--semantic-accent-primary, #2b9bf0);

      &:focus {
        outline: none;
      }
    }

    .clearButton {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 16px;
      width: 16px;
      background: none;
      @extend .button-press-no-border;
    }
  }
}
